/*

My Custom CSS
=============

Author:  Vinay Marisetty
Updated: Nov 2014
Notes:	 Hand coded for www.vkmarisetty.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */



body {
background-color: #fff; /*#a2d6bb; #cbebef;*/
background-image: url(../../images/bg.png);
background-repeat: repeat-x;
}
#features {
	text-align: center;
}

#features img {
	margin: 0 0 20px;
}

#inputMessage {
	margin-bottom: 15px;
}

footer {
	background: #333;
	color: #eee;
	font-size: 11px;
	padding: 20px;
}


/* --------------------------------------
   Typography
   -------------------------------------- */

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

.well .page-header {
	margin-top: 0;
}

.well .page-header h1 {
	margin-top: 0;
}

ul.unstyled {
	list-style: none;
	padding: 0;
}


/* --------------------------------------
   Navbar
   -------------------------------------- */
   
.navbar{
   background-color: #26e049;

   }
.navbar-nav>li>a{
line-height: 60px;
color: #fff;
}
   
#searchInput {
	width: 200px;
}

.navbar-brand {
	padding: 13px 15px;
	
}
.navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus {
color: #fff;
background-color: #357ebd;
}
   
   .navbar-nav>.open>a, .navbar-nav>.open>a:hover, .navbar-nav>.open>a:focus {
color: #fff;
background-color: #357ebd;
   }
/* --------------------------------------
   Carousel
   -------------------------------------- */

#myCarousel {
	margin-top: 60px;
}

.carousel-caption {
	font-size: 24px;
}

.carousel-caption h4 {
	font-size: 32px;
}

#myCarousel .item { height: 400px; }

#slide1 {
	background: url('../../images/carousel_medium_01.jpg') top center no-repeat;
}

#slide2 {
	background: url('../../images/carousel_medium_02.jpg') top center no-repeat;
}

#slide3 {
	background: url('../../images/carousel_medium_03.jpg') top center no-repeat;
}


/* --------------------------------------
   Global Styles
   -------------------------------------- */

.alert {
	margin-top: 20px;
	display: none;
}

.well {
	margin: 20px 0;
	background:#fff;
}

.tabbable img.thumbnail {
	margin: 0 20px 10px 0;
}

.thumbnails {
	margin: 20px 0;
}

.thumbnail {
	position: relative;
}

.thumbnail h3 {
	font-size: 16px;
	margin: 0 0 10px;
	line-height: 20px;
}

.thumbnail .price {
	font-size: 22px;
	position: absolute;
	top: -10px;
	right: -10px;
	padding: 10px;
}

.thumbnail .price sup {
	font-weight: normal;
	font-size: 12px;
}

.thumbnail span.glyphicon {
	margin-right: 5px;
}


/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
	
	.thumbnail .price {
		font-size: 14px;
	}
	
	.thumbnail .price sup {
		font-size: 10px;
	}
	
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	
	#myCarousel .item { height: 310px; }
	
	#slide1 {
		background: url('../../images/carousel_small_01.jpg') top center no-repeat;
	}
	
	#slide2 {
		background: url('../../images/carousel_small_02.jpg') top center no-repeat;
	}
	
	#slide3 {
		background: url('../../images/carousel_small_03.jpg') top center no-repeat;
	}
	
	.carousel-caption {
		font-size: 16px;
	}
	
	.carousel-caption h4 {
		font-size: 22px;
	}
	
}

/* Large desktop */
@media (min-width: 1200px) {

	#myCarousel .item { height: 500px; }
	
	#slide1 {
		background: url('../../images/carousel_large_01.jpg') top center no-repeat;
	}
	
	#slide2 {
		background: url('../../images/carousel_large_02.jpg') top center no-repeat;
	}
	
	#slide3 {
		background: url('../../images/carousel_large_03.jpg') top center no-repeat;
	}

}

h1 small, .h1 small {
font-size: 14px;}

h1{
  color: #006396;
    font-family: "Segoe UI",Tahoma,Arial,Verdana;
    font-size: 1.5em;
    line-height: 17px;
    padding: 0;
	}
	
.item_title {
min-height: 75px;
padding-right: 80px;
font: normal normal bold 28px/28px Montserrat, sans-serif;
text-transform: uppercase;
color: #0f73c8;
}

.media-left, .media-right, .media-body {
display: table-cell;
vertical-align: top;
padding-left: 15px;
padding-bottom: 32px;
}

.media-heading{
/*color: #006396; 
color: #0EC3F7;*/
color: #000;
}
.bordertop{
border-top: 2px solid #767676;
margin-top: 106px;
}


.borderbottom{
border-bottom: 2px solid #767676;
font-size: 14px;
font-weight: bold;
}

.lead {
font-size: 16px;
color: #006396;
}

h2, .h2 {
font-size: 20px;
}